@model QuanLyBanHang.Models.User

@{
    ViewBag.Title = "Profile";
}

<center>
    <h2 class=""> Thông tin cá nhân khách hàng </h2>
    <br />
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th> Họ & tên</th>

            <th> Passwork </th>

            <th> Name </th>

            <th> Địa chỉ </th>

            <th> Email </th>

            <th> DOB </th>

        </tr>

        <tr class="font-italic table-secondary">
            <td>  @Html.DisplayFor(model => model.Username)</td>

            <td>  @Html.DisplayFor(model => model.Password) </td>

            <td>  @Html.DisplayFor(model => model.FullName)</td>

            <td>  @Html.DisplayFor(model => model.Address)</td>

            <td>  @Html.DisplayFor(model => model.Email)</td>

            <td>  @Html.DisplayFor(model => model.DayOfBirth)</td>
        </tr>

    </table>
    <button class="btn btn-info">
        @Html.ActionLink("Xem đơn hàng", "Index", "", new { area = "" }, new { @class = "nav-link py-3 px-0 px-lg-3 rounded" })
    </button>
    <button class="btn btn-primary">
        @Html.ActionLink("Chỉnh sửa hồ sơ", "Edit", new { id = Model.Id }, new { @class = "nav-link py-3 px-0 px-lg-3 rounded" })
    </button>
</center>
<br />

@*Css giỏ hàng*@
<style type="text/css">
    .divGioHang {
        border: 2px solid #EEEEEE;
        margin-left: 10%;
        font-size: large
    }

        .divGioHang td {
            padding: 40px;
            border: 2px solid #EEEEEE;
            text-align: center
        }

        .divGioHang th {
            text-align: center
        }
</style>
