@model IEnumerable<QuanLyBanHang.Models.OrderDetail>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h2>Chi tiết đơn hàng</h2>

    <table class="table">
        <tr>
            <th>
                Sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Đơn giá / 1 sản phẩm
            </th>
            <th>
                Thành tiền
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @String.Format("{0:0,0}", item.Price) VNĐ
                </td>
                <td>
                    @String.Format("{0:0,0}", item.Amount) VNĐ
                </td>
            </tr>
        }

    </table>

    <button class="btn btn-secondary">
        @Html.ActionLink("Trở về", "Index", "Order", new { area = "" }, new { @class = "nav-link py-1 px-0 px-lg-1 rounded" })
    </button>
</center>
<br />

